
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "../css/bootstrap.min.css";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";

#logo {
  height: 40px;
  display: inline;
  margin: 5px 5px;
}

.fa-envelope {
  font-size: 18px;
}

.fa-telegram {
  font-size: 18px;
}
