body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-image: url('/img/enl_logo.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: right;
}

.btn-enlightened {
  background: #1eb91e;
  border-color: #21901a;
  &:hover {
    background: #1ef81e;
    border-color: #23ce1b;
  }
}